name: Django CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: yaroslav
          POSTGRES_PASSWORD: 122406
          POSTGRES_DB: diplom
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: diplom
      DB_USER: yaroslav
      DB_PASSWORD: 122406

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Wait for Postgres
      run: |
        until pg_isready -h $DB_HOST -p $DB_PORT; do
          echo "Waiting for Postgres..."
          sleep 1
        done

    - name: Run migrations
      run: |
        cd library_project
        python manage.py migrate

    - name: Run tests
      run: |
        cd library_project
        python manage.py test
